html {
  background-color: #fefefe;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.content {
  margin: 20px;
  margin-top: 30px;
}
.bt {
  margin: 5px;
  width: 150px;
}
.user {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.stats {
  align-items: center;
  justify-content: center;
  width: 40vh;
  height: 15vh;
}

.container {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  margin: 10px auto;
  overflow: hidden;
  width: 60%;
}

.header-container {
  position: relative;
}

.header {
  background-image: url("https://assets.visme.co/templates/banners/thumbnails/i_Ocean-Quote-Twitter-Header_full.jpg");
  background-size: cover;
  color: #fff;
  padding: 15px;
  height: 300px;
}

.header > svg {
  cursor: pointer;
}

.stats {
  margin-top: 35px;
}

.body {
  background-color: #eee;
  color: #555;
  padding: 0 15px 15px;
  position: relative;
}
@media screen and (max-width: 660px) {
  * {
    font-size: 15px;
  }
  .user {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
  }
  .stats {
    width: 23vh;
    height: 12vh;
  }
}
